<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListAllCountriesServlet</servlet-name>
        <servlet-class>net.haitham.otlobli.otlobliwebapp.web.ListAllCountriesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveProviderServlet</servlet-name>
        <servlet-class>net.haitham.otlobli.otlobliwebapp.web.SaveProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveCountryServlet</servlet-name>
        <servlet-class>net.haitham.otlobli.otlobliwebapp.web.SaveCountryServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>EditProviderServlet2</servlet-name>
        <servlet-class>net.haitham.otlobli.otlobliwebapp.web.EditProviderServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProviderServlet</servlet-name>
        <servlet-class>net.haitham.otlobli.otlobliwebapp.web.DeleteProviderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCountryServlet</servlet-name>
        <servlet-class>net.haitham.otlobli.otlobliwebapp.web.EditCountryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditCountryServlet2</servlet-name>
        <servlet-class>net.haitham.otlobli.otlobliwebapp.web.EditCountryServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCountryServlet</servlet-name>
        <servlet-class>net.haitham.otlobli.otlobliwebapp.web.DeleteCountryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveProviderServlet</servlet-name>
        <url-pattern>/SaveProviderServlet</url-pattern>
        <url-pattern>/insert_provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProviderServlet2</servlet-name>
        <url-pattern>/EditProviderServlet2</url-pattern>
        <url-pattern>/update_provider</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>DeleteProviderServlet</servlet-name>
        <url-pattern>/DeleteProviderServlet</url-pattern>
        <url-pattern>/delete_provider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllCountriesServlet</servlet-name>
        <url-pattern>/allCountries</url-pattern>
        <url-pattern>/all_countries</url-pattern>
        <url-pattern>/countries</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveCountryServlet</servlet-name>
        <url-pattern>/SaveCountryServlet</url-pattern>
        <url-pattern>/save_country</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCountryServlet</servlet-name>
        <url-pattern>/EditCountryServlet</url-pattern>
        <url-pattern>/edit_country</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditCountryServlet2</servlet-name>
        <url-pattern>/EditCountryServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCountryServlet</servlet-name>
        <url-pattern>/DeleteCountryServlet</url-pattern>
        <url-pattern>/delete_country</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
